@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: linear-gradient(
    to right top,
    #e4e2dd,
    #dbdad4,
    #d2d2ca,
    #c8cac2,
    #bec2b9
  );

  height: 100svh;
  width: 100vw;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  @apply items-center lg:pt-8 lg:pb-4;
}
